a{
    text-decoration: none;
}
.banner-wr .banner {
    height: 650px;
}
.banner-wr{
    margin-top: 60px;
    height: 650px;
    width: 100%;
}
.banner{
    width: 100%;
    position: sticky;
}
.banner-wr .banner h2 {
    text-align: center;
    color: #47356C;
    font-weight: 900;
    font-size: 46px;
    padding-top: 108px;
}

.buran-wr .parallax-window {
    min-height: 790px;
    background: transparent;
    padding-bottom: 138px;
}
.buran-wr h2 {
    color: #FDD95B;
    font-size: 35px;
    padding: 93px 0 52px;
    /*padding: 0;*/
    text-align: left;
    font-weight: bold
}
.buran-wr h3{
    margin-bottom: 11px;
    font-size: 25px;
}
.buran-wr h3 a {
    color: #FDD95B;
    transition: 0.5s all;
    font-weight: bold;
}
.buran-wr p {
    font-size: 18px;
    margin: 0 0 25px 0;
    color: #E7ECEF;
}
.buran-wr p a{
    color: #E7ECEF;
}
.space-shuttle{
    width: 50px;
    height: 50px;
}
.code{
    width: 50px;
    height: auto;
}
.monitor{
    width: 50px;
    height: 50px;
}
.employee{
    width: 50px;
    height: 50px;
}
.history{
    width: 50px;
    height: 50px;
}
.banner-text img{
}
#primary{
    position: inherit;
}

.specs-wr .dir {
    color: #47356C;
    font-weight: normal;
    font-size: 18px;
    display: flex;
}
.specs-wr .container {
    padding-top: 70px;
    padding-bottom: 150px;
    display: block;
    text-decoration: none;
    color: #47356C;
}
.specs-wr h2 {
    font-size: 35px;
    color: #47356C;
    margin-bottom: 16px;
    text-align: left;
    font-weight: bold;
    margin-top: 1.35em;
}
.specs-wr h2 a {
    color: #47356C;
    text-decoration: none;
}
.specs-wr h3 {
    font-size: 18px;
    color: #47356C;
    display: flex;
    align-items: center;
    height: 36px;
    padding: 0;
    margin: 50px 0 30px 0;
    font-weight: bold;
}
.specs-wr h3 .num {
    font-size: 30px;
    font-weight: normal;
    margin-right: 25px;
}
.specs-wr h3 a {
    color: #47356C;
    text-decoration: none;
}
.specs-wr .dir.program .cap {
    display: block;
    font-size: 70%;
    font-weight: bold;
    margin: 10px 0px;
    margin-bottom: 20px;
}
.specs-wr .dir .cap {
    display: block;
    font-size: 70%;
    font-weight: bold;
    margin: 10px 0px;
    margin-bottom: 20px;
}
.specs-wr .dir.program .cap-name {
    display: block;
}
.want{
    margin-top: 116px;
}
.line{
    display: inline;
}
.fa-circle{
    font-size: 15px;
}
.circle{
    margin-top: 13px;
}
.first_cap_block{
    margin-bottom: 15px;
}
.circle_2 {
    margin-top: 4px;
}
.companies h2 {
    margin-top: 118px;
    margin-bottom: 80px;
    font-size: 25px;
    color: #0A090C;
    font-weight: bold;
    text-align: left;
}
.companies .brands {
    margin-bottom: 102px;
    display: flex;
    flex-wrap: wrap;
}
.companies .brands i {
    height: 107px;
    width: 20%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.companies .brands i img {
    max-width: 85%;
}
.science-wr {
    color: #0A090C;
    background: #FDD95B;
    padding: 117px 0 165px;
}
.science-wr h2, .science-wr h2 a {
    font-size: 35px;
    color: #0A090C;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.science-wr p {
    display: flex;
    align-items: center;
    line-height: 1.3;
    padding: 0;
    margin-bottom: 27px;
}
.science-wr p i {
    display: block;
    width: 36px;
    height: 36px;
    margin-right: 28px;
}
.science-wr p span {
    font-size: 20px;
    max-width: 440px;
}
.science-wr .container .row .col-md-6 p i img{
    max-width: 36px;
    min-width: 36px;
}
.science-wr h3 {
    font-weight: normal;
    font-size: 28px;
    margin: 58px 0 40px;
    padding: 0;
    color: #0A090C;
}
.science-wr a {
    color: #0A090C;
    text-decoration: none;
}
@media (max-width: 1199px) {
    .circle_2{
        margin-top: 13px;
    }
}
@media (min-width: 992px) {
    .specs-wr .dir.program .cap-name {
        min-height: 60px;
    }
}
@media (max-width: 992px) {
    .row {
        margin-right: 0px;
        margin-left: 0px;
    }
    .space-shuttle{
        max-width: 45px;
        min-width: 45px;
        height: 45px;
        padding-left: 0;
    }
    .code{
        max-width: 45px;
        min-width: 45px;
        height: auto;
        padding-left: 0;
    }
    .monitor{
        max-width: 45px;
        min-width: 45px;
        height: 45px;
        padding-left: 0;
    }
    .employee{
        max-width: 45px;
        min-width: 45px;
        height: 45px;
        padding-left: 0;
    }
    .history{
        max-width: 45px;
        min-width: 45px;
        height: 45px;
        padding-left: 0;
    }
    .row>* {
        padding-left: 0;
    }
    .want {
        margin-top: 20px;
    }
    .circle_2 {
        margin-top: 2px;
    }

}
@media (max-width: 900px) {
    .companies .brands i {
        width: 50%;
    }
}
@media (min-width: 768px) {
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-md-6{
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (max-width: 768px) {
    .col-md-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    .row>* {
        padding-left: 3px;
    }
    .buran-wr h3 {
         font-size: 18px;
     }
    .buran-wr p {
        font-size: 14px;
    }
    /*.col-md-6 {*/
    /*    width: 50%;*/
    /*}*/
}
@media (max-width: 730px) {
    .space-shuttle{
        max-width: 40px;
        min-width: 40px;
        height: 40px;
    }
    .code{
        max-width: 40px;
        min-width: 40px;
        height: auto;
    }
    .monitor{
        max-width: 40px;
        min-width: 40px;
        height: 40px;
    }
    .employee{
        max-width: 40px;
        min-width: 40px;
        height: 40px;
    }
    .history{
        max-width: 40px;
        min-width: 40px;
        height: 40px;
    }
}
@media (max-width: 1020px) {
    .banner-wr{
        margin-top: 30px;
    }
}
@media (max-width: 670px){
    .banner-wr .banner h2 {
        font-size: 35px;
    }
    .companies .brands i {
        margin-bottom: 7px;
        height: 80px;
    }
    .companies h2 {
        margin-top: 60px;
        margin-bottom: 40px;
        font-size: 21px;
    }
    .science-wr {
        padding: 60px 0 70px;
    }
    .science-wr h3 {
        font-size: 21px;
        margin: 30px 0 20px;
        text-align: left;
    }
    .science-wr h2, .science-wr h2 a {
        font-size: 25px;
        text-align: left;
    }
    .science-wr p span {
        font-size: 16px;
    }
}

@media (max-width: 632px){
    .circle_2{
        margin-top: 13px;
    }
}
@media (max-width: 575px) {
    .line_block{
        display: inline;
    }
}
@media (max-width: 488px) {
    .circle{
        margin-top: 26px;
    }
}
@media (max-width: 360px) {
    .circle_2{
        margin-top: 26px;
    }
}
@media (max-width: 343px) {
    .circle{
        margin-top: 40px;
    }
}