
/* Глобальне налоштування стилів
--------------------------------------------- */
 html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #0A090C;
    line-height: 1.5;
}
main {
	display: block;
	
}
.content-article{
	width: 100%;
    max-width: 1200px;
    padding: 0 0px;
    margin: 0 auto;
}
a {
	background-color: transparent;
	text-decoration: none;
}
 img {
	border-style: none;
}
ul,
ol {
	padding-left: 0;
}
li{
	list-style-type: none;
}

ul {
	list-style-type: none;
}

ol {
	list-style-type: none;
}

h3{
	font-size: 1.17em;
	
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
    margin-bottom: 1.5rem;
    font-weight:bold; 
    line-height: 1.5;
}
p{
	margin-bottom: 1.5rem;
}
@media (min-width: 1200px){
	.h3, h3 {
		font-size: 1.17em;
	}
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1024px){
	.container {
    	width: 100%;
	}
}

@media (min-width: 576px){
	.container, .container-sm {
		max-width: inherit;
	}
}

@media (min-width: 768px)
{
	.container {
		width: 750px;
	}
}
@media (min-width: 992px)
{
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px){
	.container {
		width: 1170px;
	}
}	

/* let's say this is your global image block css */
.wp-block-image img {
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #F0EDEE;
    height: 239px;
    display: block;
    width: 100%;
    opacity: 1;
    transition: 0.7s all;
}
	
	/* this is the css that will remove the global image block css */
.wp-block-image.link-block img {
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #F0EDEE;
    height: 239px;
    display: block;
    width: 100%;
    opacity: 1;
    transition: 0.7s all;
}