/* Posts and pages
--------------------------------------------- */
.page-news{
    position: sticky;
}
.news-wr{
    position: inherit;
}
.enter-page{
  padding-bottom: 120px;
  padding-top: 80px;
}
.parent {
    display: flex;
 }
.arrow-div{
    margin-top: -1px;
}
.arrow {
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
      
}  
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-right: 0.4em;
}

/* Main page title
--------------------------------------------- */
.main-title{
  
    line-height: 1.5;
}
.main-title .poster {
    min-height: 400px;
    position: relative;
    max-height: 50vh;
    margin-bottom: 40px;
    display: flex;
    padding: 60px 112px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    background: #47356C;
}
.main-title .poster-bg {
    position: absolute;
    z-index: 0;
    opacity: 0.17;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: center center no-repeat;
    background-size: cover;
}

.main-title .parent a{
   
    opacity: 0.8;
    z-index: 1;
    color: #ffffff;
    transition: 0.5s all;
}

.main-title .arrow {
    opacity: 0.8;
}  
.main-title .title{
    z-index: 1;
    font-weight: 900;
    color: #FDD95B;
    font-size: 230%;
    margin: 30px 0 25px;
}

@media (max-width: 1023px){
    .main-title .poster {
        min-height: 300px;
        max-height: none;
    }
}


@media (max-width: 767px){
  .main-title .poster {
    padding: 30px;
  }
}


/*  Simple page title
--------------------------------------------- */
.simple-title{
    
    line-height: 1.5;
}
.simple-title .title{
    font-weight: bold;
    color: #47356C;
    text-align: left;
    padding: 0;
    margin: 30px 0 25px;
}

.simple-title .parent a{
    text-decoration: none;
    color: #0A090C;
    white-space: nowrap;
}

.simple-title .arrow {
    border: solid #0A090C;   
    border-width: 0 2px 2px 0;
}  

/*  List of children pages
--------------------------------------------- */
.children-list a{
    color: #47356C;
}




/*  Page with news
--------------------------------------------- */
.page-news{
    margin-top: 80px;
}
.page-news .news-wr .container{
    padding-top: 60px;
    padding-bottom: 30px;
}
.page-news .news-wr h2{
    margin-bottom: 54px;
}



/*  Content with posts
--------------------------------------------- */
.post-in-list{
    position: relative;
    margin-bottom: 30px;
}

.post-in-list .image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #F0EDEE;
    height: 239px;
    display: block;
    width: 100%;
    opacity: 1;
    transition: 0.7s all;
}
.post-in-list .default-image{
    background-size: auto;
}
.post-in-list a.caption {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px;
    height: 200px;
    overflow: hidden;
    background: #47356C;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s;
}

.post-in-list:hover a.caption{
    color:#47356C;
    background: #FDD95B; 
}

.post-in-list:hover a.caption h3{
    color:#47356C;

}
.post-in-list a.caption h3 {
    color: #ffffff;
    size: 18px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    width: 100%;
    transition: all 0.3s;
    line-height:1.5;
    
    font-size: 1.17em;   
}
@media (min-width: 768px){
    .posts .col-sm-6 {
        width: 50%;
    }
}
@media (min-width: 992px){
    .posts .col-md-4 {
        width: 33.33333333%;
    }
}
@media (max-width: 767px){
    .posts .col-sm-6 {
        /* flex: 0 0 auto; */
        width: 100%;
    }
}

/*  Post and page content
--------------------------------------------- */
/* .post-content{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #0A090C;
    line-height: 1.3;
} */
.single .simple-title .title{
    font-size: 30px;
}
.content ol, .content li{
    list-style-type: auto;
}
.content {


}
@media (min-width: 1200px){
    .content  {
        font-size: 120%;
    }
}
/* h1 h2 h3 h4{
    font-weight: bold;
    color: #47356C;
} */

.content h2{margin-top:1.35em;}

.content ol, .content ul{
    padding-left: 3em;
}
.content li{

    margin-top:7px;
}
.content td{vertical-align:top;}
.content a {text-decoration:underline;}

.content a img{border:0;}
.content article {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}
.content img {border:0;}

/* #content table[border="1"] {
    border-collapse: collapse;
    border:1px solid #ddd;
}
#content table[border="1"] td, #content table[border="1"] th {
    padding:5px 15px;
}
#content table[border="1"] th {
   background: #7a0606;
   text-align:left;
   padding: 15px 15px;
    color:#fff;
}
#content table[border="1"] tr:nth-child(2n+1) {
    background: #eee;
} */

/*  Search form on page
--------------------------------------------- */

/* .search-form_menu input{
    font-size:120%;
    padding:5px 7px;
    border:1px solid #EEEEEE;

}

.search-form_menu input:focus {
    outline: none !important;
    border: 2px solid rgba(71, 54, 108, 0.65);
    border-radius: 4px;
}
.search-form_menu{
    display: none;
    margin-top: 5px;
    position: relative;
    float: right;
    width: 225px;
} */

.search-form{
    margin-bottom: 45px;
}

.search-form input{
    font-size:120%;
    padding:5px 7px;
    border:1px solid #EEEEEE;
}
.search-form input:focus {
    outline: none !important;
    border: 2px solid rgba(71, 54, 108, 0.65);
    border-radius: 4px;
}
.search-form input[type="text"]{
    min-width:50%;
}
.search-form input[type="submit"]{
    padding-left: 25px;
    padding-right:25px;
    background: #47366C;
    color: #fff;
}

/*Контакти*/
.contacts_cont .contacts_title strong{
    color: #47356C;
}
.contacts_cont p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #0A090C;
}
.contacts_cont p a{
    color: #47356C;
    outline: none;
    text-decoration: underline;
}
@media (max-width: 767px){
    .contacts_cont h2 {
        font-size: 130%;
    }
}


