/* Posts and pages
--------------------------------------------- */
.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0;
}

.content-article{
	width: 100%;
    max-width: 1200px;
    padding: 0 0px;
    margin: 0 auto;
}




/* Main page title
--------------------------------------------- */
.main-title{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}
.main-title .poster {
    min-height: 400px;
    position: relative;
    max-height: 50vh;
    margin-bottom: 40px;
    display: flex;
    padding: 60px 112px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    background: #47356C;
}
.main-title .poster-bg {
    position: absolute;
    z-index: 0;
    opacity: 0.17;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: center center no-repeat;
    background-size: cover;
}
.main-title .poster .parent {
   display: flex;
}
.main-title .poster .parent a{
   
    opacity: 0.8;
    z-index: 1;
    color: #ffffff;
    transition: 0.5s all;
}
.arrow {
    opacity: 0.8;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    
}  
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-right: 0.4em;
}
.main-title .title{
    z-index: 1;
    font-weight: 900;
    color: #FDD95B;
    font-size: 230%;
    margin: 30px 0 25px;
}


@media (max-width: 991px){
    .main-title .parent {
        font-size: 12px;
    }
}
@media (max-width: 1023px){
    .main-title .title{
        font-size: 150%;
    }
}

@media (max-width: 1023px){
    .main-title .poster{
        min-height: 300px;
    max-height: none;
    }
}
@media (max-width: 767px){
    .main-title .poster{
        padding: 30px;
    }
}


/*  Page title simple
--------------------------------------------- */

.simple-title{
	width: 100%;
    max-width: 1200px;
    /* padding: 0 0px; */
    margin: 0 auto;
}
.simple-title-title{
	font-family: 'Jost';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 69px;

	color: #407076;
}

.simple-title hr {
	color: #407076;
	height: 2px;
	opacity: 1;
	/* margin: 0 5%; */
}
.simple-title-breadcrumb{
	float: right;
	color: #407076;
}
.simple-title-breadcrumb a{
	color:#407076;
}